[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.Book-bg {
    background: rgb(249, 252, 247); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(249, 252, 247, 1) 0%, rgba(245, 249, 240, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(249, 252, 247, 1) 0%, rgba(245, 249, 240, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(249, 252, 247, 1) 0%, rgba(245, 249, 240, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fcf7', endColorstr='#f5f9f0', GradientType=0); /* IE6-9 */
}

h1, h2 {
    margin-top: 2px;
    font-size: 25px;
    font-weight: 100;
    line-height: 30px;
}
#footer{
    /*margin-top: 80%;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0e996;
    padding: 0px 30px 0px 30px;
}
h3 {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}
.description{
    width:500px;
    height: 200px;
}
strong {
    font-weight: 500;
}
.new, .sale {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
}
.btn-detalles {
}

.center {
    text-align: center;
}
.float-right {
    float:right !important;
}
/*BooktDetails.jsp*/
.page-header {
    color: #31708f;
}

.page-header small {
    color: dodgerblue;
}

.detalles {
    margin: auto;
    max-width: 470px;
    max-height: 370px;
}

.precio {
    color: red;
    font-size: large;
}
/*Book.jsp*/
/*.caption {*/
/*    margin-top: 30px;*/
/*}*/

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

.Book-name {
    font-size: medium;
    text-overflow: ellipsis;
    height: 40px;
    overflow: hidden;
}

.portfolio-item {
    margin-bottom: 25px;
}

.thumbnail {
    background-color: white;
    box-shadow: 0px 0px 4px #eb9316;
    min-width: 200px;
    min-height: 440px;
    display: block;
}
.header_top {
    background: none repeat scroll 0 0 #F0F0E9;
}
.add-to-cart, .checkout, .back {
    background:#F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}
.add-to-cart:hover {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
}

.add-to{
    margin-bottom: 10px;
}

.add-to-cart i{
    margin-right:5px;
}

.add-to-cart:hover {
    background: #FE980F;
    color: #FFFFFF;
}

.choose {
    border-top: 1px solid #F7F7F0;
}

.choose ul li a {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

.choose ul li a i{
    margin-right:5px;
}

.choose ul li a:hover{
    background:none;
    color:#FE980F;
}

.category-tab {
    overflow: hidden;
}

.category-tab ul {
    background: #40403E;
    border-bottom: 1px solid #FE980F;
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
}

.category-tab ul li a {
    border: 0 none;
    border-radius: 0;
    color: #B3AFA8;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.category-tab ul  li  a:hover{
    background:#FE980F;
    color:#fff;
}

.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FE980F;
    border:0px;
    color: #FFFFFF;
    cursor: default;
    margin-right:0;
    margin-left:0;
}

.nav-tabs  li  a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right:0;
}
.thumbnail img {
    max-height: 500px;
}
.logo{
    width: 75%;
}

/*inventario.jsp*/
.table {
    overflow: auto;
    margin-bottom: 40px;
}

table > tbody > tr > td > img {
    white-space: nowrap;
    width: auto;
    max-height: 150px;
    max-width: 200px
}

/*"hack" to override table-hover effect on a row*/
tbody tr:hover td[rowspan] {
    background-color: white;
}

/*media*/
@media (max-width: 767px) {
    .cancel-all-btn {
        padding-top: 30px;
        padding-left: 30px;
        float:left; !important;
    }
}

@media (min-width: 768px) {
    .thumbnail > img {
        height: 152px;
    }
    .cancel-all-btn {
        padding-top: 30px;
        padding-left: 140px;
        float:right; !important;
    }
}
@media (min-width: 968px) {
    .thumbnail > img {
        height: 270px;
    }
    .cancel-all-btn {
        padding-top: 30px;
        padding-left: 140px;
        float:right; !important;
    }
}
@media (min-width: 1168px) {
    .cancel-all-btn {
        padding-top: 70px;
        padding-left: 170px;
        float:right; !important;
    }
}

.features_items{
    overflow:hidden;
}



